*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
}

.container-80{
    width: 80%;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.wrap{
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}

.inline-block{
    display: inline-block;
}

.bg-blue{
    background-color: rgb(0,132,253);
}

.padding-30{
    padding: 30px 0;
}

.allign-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.fixed{
    width: 100%;
    position: fixed;
    z-index: 999;
}

.fa-bars{
    font-size: 30px;
    color: white;
    margin: auto 0;
}

/* per nascondere la menu bar nel dispositivo mobile */
.menu-bar a{
    display: none;
}

a{
    text-decoration: none;
}

.menu-bar a{
    
    margin-left: 10px;
}

.bt-white{
    background-color: white;
    color: black;
    padding: 10px 10px;
    border-radius: 20px;
}

.padding-150{
    padding: 150px 0;
}

.flex-basis-1{
    flex-basis:100%;
}

.flex-basis{
    flex-basis:100%;
}

.bt-blue{
    background-color: rgb(0,132,253);
    color: white;
    border-radius: 20px;
    padding: 10px 40px;
}

.bt-blue span{
    margin-left: 10px;
}

.bg-azzure{
    background-color: rgb(181,221,255);
    border-radius: 20px;
}

.card-azzure{
    margin: 0 auto;
    width: 80%;
}

.card-azzure p{
    text-align: center;
}

.card-azzure-1{
    margin: 0 auto;
    width: 80%;
}

.card-azzure h3{
    padding-top: 30px;
}

.card-azzure-1 h3{
    padding-top: 30px;
}

.card-azzure p{
    padding: 30px 0;
}

.card-azzure-1 p{
    padding: 30px 0;
}

.card-azzure img{
    margin-top: 30px;
}

.card-azzure-1 img{
    margin-top: 30px;
}

.card-azzure h3{
    color: rgb(0,132,253);
    /* font-size: 30px; */
}

.card-azzure-1 h3{
    color: rgb(0,132,253);
    /* font-size: 30px; */
}

.card-azzure > i{
    color: rgb(0,132,253);
    font-size: 50px;
    margin-top: 30px;
}


.margin-bottom-2{
    margin-bottom: 2%;
}

header img{
    width: 100%;
}

/* Inizio Main */
/* Prima Sezione */

.bg-violet{
    background-color: rgb(151 146 228);
    
}

.bg-white{
    background-color: white;
    border-radius: 30px;
    padding-bottom: 30px;
}

.bg-violet img{
    padding: 40px 0;
}

.bg-violet p{
    padding: 40px 0;
}

.planning2 p{
    line-height: 30px;
    text-align: center;
}

.bt-violet{
    background-color: rgb(151 146 228);
    border-radius: 50%;
    padding: 10px 12px;
}

.planning1{
    margin-top: 50px;
    margin-bottom: 25px;
}

.planning2{
    margin-bottom: 50px;
}

.planning1 .container-80{
    color: white;
}


/****************
RESPONSIVE
****************/

@media screen and (min-width: 480px){
    .flex-basis-1{
        flex-basis:calc(100% / 3 * 2 - 1%);
    }

    .flex-basis{
        flex-basis:calc(100% / 3 - 2%);
    }
}

@media screen and (min-width:768px){
    .menu-bar a{
        display: inline-block;
    }

    .menu-bar i{
        display: none;
    }

    .card-azzure-1{
        display: flex;
        justify-content: space-between;
    }

    .resp-desk-1{
        flex-basis:calc(100% / 3 *2);
        
    }

    .resp-desk{
        flex-basis: calc(100% / 3);
    }

    /* main */
    .planning1{
        flex-basis:50%;
    }

    .planning2{
        flex-basis: 40%;
    }

    .bg-violet{
        justify-content: center;
        padding-top: 100px;
    }

    .planning1{
        margin: 50px auto;
        justify-content: space-between;
    }

    .planning2{
        margin: 50px auto
    }

    .container-60{
        width: 60%;
        display: flex;
    }

    .planning1 img{
        width: 100%;
    }

    .relative{
        position: relative;
    }

    .absolute{
        position: absolute;
        top: -135px;
        left: 0;
    }
}