*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
}

.container-80{
    width: 80%;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.wrap{
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}

.inline-block{
    display: inline-block;
}

.bg-blue{
    background-color: rgb(0,132,253);
}

.padding-30{
    padding: 30px 0;
}

.allign-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.text-center{
    text-align: center;
}

.fixed{
    width: 100%;
    position: fixed;
    z-index: 999;
}

.fa-bars{
    font-size: 30px;
    color: white;
    margin: auto 0;
}

/* per nascondere la menu bar nel dispositivo mobile */
.menu-bar a{
    display: none;
}

header, main a{
    text-decoration: none;
}

.menu-bar a{
    
    margin-left: 10px;
}

.bt-white{
    background-color: white;
    color: black;
    padding: 10px 10px;
    border-radius: 20px;
}

.padding-150{
    padding: 150px 0;
}

.flex-basis-1{
    flex-basis:100%;
}

.flex-basis{
    flex-basis:100%;
}

.bt-blue{
    background-color: rgb(0,132,253);
    color: white;
    border-radius: 20px;
    padding: 10px 40px;
}

.bt-blue span{
    margin-left: 10px;
}

.bg-azzure{
    background-color: rgb(181,221,255);
    border-radius: 20px;
}

.card-azzure{
    margin: 0 auto;
    width: 80%;
}

.card-azzure p{
    text-align: center;
}

.card-azzure-1{
    margin: 0 auto;
    width: 80%;
}

.card-azzure h3{
    padding-top: 30px;
}

.card-azzure-1 h3{
    padding-top: 30px;
}

.card-azzure p{
    padding: 30px 0;
}

.card-azzure-1 p{
    padding: 30px 0;
}

.card-azzure img{
    margin-top: 30px;
}

.card-azzure-1 img{
    margin-top: 30px;
}

.card-azzure h3{
    color: rgb(0,132,253);
    /* font-size: 30px; */
}

.card-azzure-1 h3{
    color: rgb(0,132,253);
    /* font-size: 30px; */
}

.card-azzure > i{
    color: rgb(0,132,253);
    font-size: 50px;
    margin-top: 30px;
}


.margin-bottom-2{
    margin-bottom: 2%;
}

header img{
    width: 100%;
}

/* Inizio Main */
/* Prima Sezione */

.bg-violet{
    background-color: rgb(151 146 228);
    
}

.bg-white{
    background-color: white;
    border-radius: 30px;
    padding-bottom: 30px;
}

.planning1 img{
    padding: 40px 0;
}

.planning2 img{
    padding: 40px 0;
}

.bg-violet p{
    padding: 40px 0;
}

.planning2 p{
    line-height: 30px;
    text-align: center;
}

.bt-violet{
    background-color: rgb(151 146 228);
    border-radius: 50%;
    padding: 10px 12px;
}

.planning1{
    margin-top: 50px;
    margin-bottom: 25px;
}

.planning2{
    margin-bottom: 50px;
}

.planning1 .container-80{
    color: white;
}

/* Seconda Sezione */
.expert1{
    margin-top: 50px;
}

.expert1 h1{
    color: rgb(151 146 228);
    margin: 30px auto;
}

.expert1 p{
    padding-bottom: 30px;
}

.violet-card{
    border-radius: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.violet-card p{
    line-height: 40px;
}

.violet-card p, h4{
    color: white;
}

.violet-card p::before{
    content: "\201C";
    font-size: 40px;
}

.violet-card p::after{
    content: "\201D";
    font-size: 40px;
}

.circle{
    width: 100%;
    width: 200px;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    margin: 0.75rem auto;
}

.flex-card-violet{
    margin-bottom: 50px;
}

/* Terza Sezione */
.bg-violet2 > h1{
    text-align: center;
    margin: 50px auto;
    color: white;
}

.card1{
    background-color: white;
    padding-bottom: 1.25rem;
    margin-bottom: 2rem;
    padding: 1.25rem 1.25rem;
    border-radius: 30px;
}

.card1 h1, h3{
    color: rgb(151 146 228);
    padding-top: 1.25rem ;
}

.card1 h1{
    font-size: 4rem;
}

.card1 h3{
    font-size: 2rem;
}

.card1 p{
    line-height: 2rem;
}

.btn-violet{
    background-color: rgb(151 146 228);
    border-radius: 30px;
    padding: 10px 20px;
    margin-bottom: 3rem;
}

.card-dad{
    padding: 3rem auto;
}

/* Quarta Sezione */
.about-us h1{
    color: rgb(151 146 228);
    font-size: 4rem;
}

.about-us p{
    margin: 2rem auto;
    line-height: 2rem;
}

.about-me p{
    font-size: 30px;
    color: rgb(151 146 228);
    align-items: start;
}

.relative{
    position: relative;
    display: inline-block;
}

.about-me{
    padding-bottom: 3rem;
}


.fa-quote-left{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 4rem;
    color: rgb(151 146 228);
}

/* Footer */
.cont-center{
    text-align: center;
    padding: 3rem 0;
}

.cont-center h4{
    color: lightgray;
}

.cont-center h3{ 
    color: white;
    font-size: 2rem;
}

.cont-center h1{
    color: rgb(253 193 95);
    font-size: 3rem;
}

.cont-center p{
    color: white;
    line-height: 30px;
}

footer .bt-white{
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
    color: rgb(151 146 228);
}

.bg-black{
    background-color: rgb(51 51 51);
}

footer span{
    color: white;
}

.padding-80{
    padding-top: 80px;
}

.padding-80 a{
    color: rgb(151 146 228);
}

/****************
RESPONSIVE
****************/

@media screen and (min-width: 480px){
    .flex-basis-1{
        flex-basis:calc(100% / 3 * 2 - 1%);
    }

    .flex-basis{
        flex-basis:calc(100% / 3 - 2%);
    }

    /* Seconda sezione main */
    .flex-card-violet{
        display: flex;
        justify-content: space-around;
    }

    .circle{
        width: 100%;
        width: 200px;
        aspect-ratio: 1;
        border-radius: 50%;
        object-fit: cover;
        margin: auto 0.75rem;
    }

    .text-center{
        text-align: left;
    }

    /* Terza Sezione Main */
    .card1{
        width: calc(100% / 2 - 2%);
    }

    .card-dad{
        justify-content: space-between;
    }

    /* Quarta sezione */
    .about-us{
        width: 50%;
    }

    .about-me{
        width: 45%;
        padding-top: 30px;
    }

    .btn-violet-small{
        font-size: 10px;
    }

    /* Footer */
    .cont-center{
        width: 60%;
    }
}

@media screen and (min-width:768px){
    .menu-bar a{
        display: inline-block;
    }

    .menu-bar i{
        display: none;
    }

    .card-azzure-1{
        display: flex;
        justify-content: space-between;
    }

    .resp-desk-1{
        flex-basis:calc(100% / 3 *2);
        
    }

    .resp-desk{
        flex-basis: calc(100% / 3);
    }

    .card-azzure-1 img{
        width: 150%;
        padding-right: 20px;
    }

    /* main */
    /* Prima Sezione */
    .planning1{
        flex-basis:50%;
    }

    .planning2{
        flex-basis: 40%;
    }

    .bg-violet1{
        justify-content: center;
        padding-top: 100px;
    }

    .planning1{
        margin: 50px auto;
        justify-content: space-between;
    }

    .planning2{
        margin: 50px auto
    }

    .container-60{
        width: 60%;
        display: flex;
    }

    .planning1 img{
        width: 100%;
    }

    .planning2 img{
        width: 80%;
    }

    .relative{
        position: relative;
    }

    .absolute{
        position: absolute;
        top: -135px;
        left: 0;
    }

    /* Terza Sezione */
    .card1{
        width: calc(100% / 3 - 2%);
    }

    /* Quarta Sezione */
    .about-us{
        width: 70%;
    }

    .about-me{
        width: 25%;
        padding-top: 30px;
    }

    /* Footer */
    .cont-center{
        width: 30%;
    }
}